 #add-to-home-screen-banner {
            display: none;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background: #333;
            color: white;
            text-align: center;
            padding: 10px;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
        }
        #add-to-home-screen-banner button {
            background: grey;
            color: purple;
            border: none;
            padding: 5px 10px;
            margin-left: 10px;
            cursor: pointer;
        }
        .bouncing-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(var(--color-start), var(--color-end));
  animation: bounce 1s infinite ease-in-out;
  animation-delay: var(--delay);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}  