    
        #add-to-home-screen-banner {
            display: none;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background: #333;
            color: white;
            text-align: center;
            padding: 10px;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
        }
        #add-to-home-screen-banner button {
            background: grey;
            color: purple;
            border: none;
            padding: 5px 10px;
            margin-left: 10px;
            cursor: pointer;
        }
    
   