/* Loading Screen Styles */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000; /* Ensure it's on top of everything */
}

#loading-screen img {
    width: 100vh; /* Adjust as needed */
    height: 100vh; /* Adjust as needed */
}

/* Hide content initially */
#content {
    display: none;
}

/* Hide all other elements during loading */
body.loading * {
    visibility: hidden;
}

body.loading #preloader {
    visibility: visible;
}/* Hide content in landscape mode */
@media screen and (orientation: landscape) {
  body::before {
    content: "Please rotate your device to portrait mode.";
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-size: 24px;
    text-align: center;
    z-index: 10000; /* Ensure it's on top of everything */
  }

  /* Hide all other content */
  body > * {
    display: none;
  }
}
