.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.855000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.729980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.990234;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.914000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.729980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.744500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.963379;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:2.129646px;}
._2{width:3.817211px;}
._1{width:4.993945px;}
.fc9{color:rgb(244,241,236);}
.fc7{color:rgb(216,18,3);}
.fc6{color:rgb(255,57,253);}
.fc4{color:rgb(255,71,57);}
.fc0{color:rgb(246,75,62);}
.fc5{color:rgb(227,223,214);}
.fc1{color:rgb(0,0,0);}
.fc3{color:rgb(20,20,20);}
.fc8{color:rgb(29,110,19);}
.fc2{color:rgb(255,69,0);}
.fsb{font-size:21.200002px;}
.fs8{font-size:27.110523px;}
.fs0{font-size:42.592657px;}
.fs3{font-size:43.481523px;}
.fs9{font-size:53.651237px;}
.fsa{font-size:59.448341px;}
.fs5{font-size:63.012106px;}
.fsd{font-size:65.241906px;}
.fs4{font-size:74.656696px;}
.fs2{font-size:79.100302px;}
.fs6{font-size:85.938051px;}
.fs7{font-size:98.435048px;}
.fs1{font-size:99.878422px;}
.fsc{font-size:113.920372px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.000012px;}
.y15{bottom:130.276341px;}
.y5{bottom:140.948929px;}
.y16{bottom:160.662342px;}
.y10{bottom:267.962820px;}
.ya{bottom:575.236411px;}
.y9{bottom:603.232672px;}
.y8{bottom:631.228933px;}
.yc{bottom:687.669757px;}
.yb{bottom:707.361040px;}
.y12{bottom:708.326720px;}
.y11{bottom:723.973155px;}
.y13{bottom:905.961228px;}
.yf{bottom:909.202652px;}
.y2{bottom:910.386379px;}
.y7{bottom:927.779235px;}
.y4{bottom:927.855384px;}
.y14{bottom:936.007625px;}
.ye{bottom:936.058293px;}
.y6{bottom:942.997768px;}
.y3{bottom:958.817695px;}
.yd{bottom:962.913934px;}
.he{height:14.840001px;}
.hb{height:18.977366px;}
.h6{height:33.120691px;}
.h3{height:35.777832px;}
.hc{height:37.555866px;}
.hd{height:41.613838px;}
.h8{height:45.043810px;}
.h10{height:48.931430px;}
.h7{height:53.827478px;}
.h5{height:56.544357px;}
.h9{height:61.432278px;}
.ha{height:72.497413px;}
.h4{height:83.897874px;}
.hf{height:85.440279px;}
.h2{height:1024.499957px;}
.h1{height:1024.500000px;}
.h0{height:1024.500009px;}
.w1{width:589.499975px;}
.w0{width:589.500000px;}
.x0{left:0.000000px;}
.x9{left:19.346967px;}
.x7{left:37.591749px;}
.x8{left:60.464676px;}
.xa{left:85.172781px;}
.xe{left:154.897743px;}
.xb{left:169.981267px;}
.x3{left:176.969710px;}
.x6{left:194.022911px;}
.x1{left:225.731290px;}
.xf{left:240.745992px;}
.x2{left:248.179906px;}
.x10{left:284.560008px;}
.x4{left:310.822633px;}
.xd{left:428.214774px;}
.xc{left:434.324838px;}
.x5{left:507.971340px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:2.839529pt;}
._2{width:5.089615pt;}
._1{width:6.658593pt;}
.fsb{font-size:28.266669pt;}
.fs8{font-size:36.147364pt;}
.fs0{font-size:56.790210pt;}
.fs3{font-size:57.975364pt;}
.fs9{font-size:71.534983pt;}
.fsa{font-size:79.264454pt;}
.fs5{font-size:84.016141pt;}
.fsd{font-size:86.989208pt;}
.fs4{font-size:99.542262pt;}
.fs2{font-size:105.467070pt;}
.fs6{font-size:114.584067pt;}
.fs7{font-size:131.246730pt;}
.fs1{font-size:133.171229pt;}
.fsc{font-size:151.893829pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.000016pt;}
.y15{bottom:173.701788pt;}
.y5{bottom:187.931905pt;}
.y16{bottom:214.216456pt;}
.y10{bottom:357.283760pt;}
.ya{bottom:766.981881pt;}
.y9{bottom:804.310230pt;}
.y8{bottom:841.638578pt;}
.yc{bottom:916.893009pt;}
.yb{bottom:943.148053pt;}
.y12{bottom:944.435626pt;}
.y11{bottom:965.297540pt;}
.y13{bottom:1207.948304pt;}
.yf{bottom:1212.270203pt;}
.y2{bottom:1213.848506pt;}
.y7{bottom:1237.038980pt;}
.y4{bottom:1237.140513pt;}
.y14{bottom:1248.010167pt;}
.ye{bottom:1248.077724pt;}
.y6{bottom:1257.330358pt;}
.y3{bottom:1278.423594pt;}
.yd{bottom:1283.885245pt;}
.he{height:19.786668pt;}
.hb{height:25.303155pt;}
.h6{height:44.160922pt;}
.h3{height:47.703776pt;}
.hc{height:50.074488pt;}
.hd{height:55.485118pt;}
.h8{height:60.058413pt;}
.h10{height:65.241906pt;}
.h7{height:71.769971pt;}
.h5{height:75.392476pt;}
.h9{height:81.909704pt;}
.ha{height:96.663217pt;}
.h4{height:111.863832pt;}
.hf{height:113.920372pt;}
.h2{height:1365.999943pt;}
.h1{height:1366.000000pt;}
.h0{height:1366.000012pt;}
.w1{width:785.999967pt;}
.w0{width:786.000000pt;}
.x0{left:0.000000pt;}
.x9{left:25.795956pt;}
.x7{left:50.122332pt;}
.x8{left:80.619568pt;}
.xa{left:113.563708pt;}
.xe{left:206.530324pt;}
.xb{left:226.641690pt;}
.x3{left:235.959614pt;}
.x6{left:258.697215pt;}
.x1{left:300.975053pt;}
.xf{left:320.994655pt;}
.x2{left:330.906541pt;}
.x10{left:379.413344pt;}
.x4{left:414.430178pt;}
.xd{left:570.953032pt;}
.xc{left:579.099784pt;}
.x5{left:677.295119pt;}
}
